MONGODB_URI=mongodb://127.0.0.1:27017/FA-DATABASE
EMAIL_VERIFY_URI=http://evalfinadvisor.armanmondal.in/verify
PORT=5000
JWT_SECRET=ArmanMondal
API_KEY=ArmanMondal
SMTP_HOST=fin-advisors.com
SMTP_PORT=465
SMTP_USER=portal@fin-advisors.com
SMTP_PASS=testing117876%
ADMIN_KEY=PANJADOTCOM